<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Sign Up</title>
</head>
<body>

    {% for message in messages %}
    <div class="alert alert-{{ message.tags }} alert-dismissible fade show" role="alert">
        <strong>Message:</strong> {{ message }}
        <button type="button" class="close" data-dismiss="alert" aria-label="Close">
        <span aria-hidden="true">&times;</span>
        </button>
    </div>
    {% endfor %}
    
    <h3>Create your account!</h3>

    <form action="/signup" method="post">
    {% csrf_token %}
        <div class="form-group">
            <label for="username">Username</label>
            <input type="text" class="form-control" id="username" name="username" placeholder="Create a username(only letters and numbers)" Requir     </div>

        <div class="form-group"></div>
            <label for="">First Name</label>
            <input type="text" class="form-control" id="fname" name="fname" placeholder="Enter your First Name" Required>
        </div>

        <div class="form-group"></div>
            <label for="">Last Name</label>
            <input type="text" class="form-control" id="lname" name="lname" placeholder="Enter your Last Name" Required>
        </div>

        <div class="form-group"></div>
            <label for="">Email Address</label>
            <input type="email" class="form-control" id="email" name="email" placeholder="Enter your Email address" Required>
        </div>

        <div class="form-group"></div>
            <label for="">Password</label>
            <input type="password" class="form-control" id="pass1" name="pass1" placeholder="Create your Password" Required>
        </div>

        <div class="form-group"></div>
            <label for="">Confirm Password</label>
            <input type="password" class="form-control" id="pass2" name="pass2" placeholder="Confirm your Password" Required>
        </div>
        
        <button type="submit" class="btn btn-primary"> Sign Up</button>
    </form>
</body>
</html>